.swiper-slide {
  transform: scale(0.7);
  transition: transform 300ms;
  opacity: 0.5;
}
.swiper-slide-active{
  transform: scale(1);
  opacity: 1;
}
.slideWrapper {
  display: flex;
  justify-content: center;
}